Options -Indexes
AddDefaultCharset UTF-8
RewriteEngine on

RewriteCond %{HTTP_REFERER} ^$
RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^addnew.php - [F]

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule ^show/([0-9]+)$ show.php?id=$1
RewriteRule ^([A-Za-z0-9]+)/p([0-9]+)$ chatbox.php?cat=$1&page=$2
RewriteRule ^rss/([A-Za-z0-9]+)/([0-9]+)$ rss.php?cat=$1&id=$2
RewriteRule ^rss/([A-Za-z0-9]+)$ rss.php?cat=$1
RewriteRule ^rss/$ rss.php
RewriteRule ^([A-Za-z0-9]+)$ chatbox.php?cat=$1

php_value upload_max_filesize 2M
php_value post_max_size 5M
php_flag zlib.output_compression on
