Options -Indexes
AddDefaultCharset UTF-8
RewriteEngine on

RewriteCond %{HTTP_REFERER} ^$
RewriteCond %{REQUEST_METHOD} ^POST$
RewriteRule ^addnew.php - [F]

php_value upload_max_filesize 2M
php_value post_max_size 5M
php_flag zlib.output_compression on
